* Contenedor principal del formulario */
.auth-box {
}

.text-neon {
}

.auth-input {
}

.btn-neon {
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-muted {
}

.bold {
  font-weight: bold;
}